@import url('https://fonts.googleapis.com/css?family=Martel|Montserrat&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    // font-family: 'Martel', serif;
}
html{
    scroll-behavior: smooth;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.white{
}
.black{
}