@import url('https://fonts.googleapis.com/css?family=Martel|Montserrat&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Martel', serif;
}
html{
    scroll-behavior: smooth;
}
.white{
}
.black{
}