//Colors
$black: #000000;
$gray: #999999;
$light: #dadada;
$white: #ffffff;
$orange: #DC8665;
$aqua: #138086;
$purple: #534666;
$pink: #CD7672;
$yellow: #EEB462;

//Fonts
$font-size: 18px;
$font-size-xxl: 5em;
$font-size-b: 2em;
$font-size-m: 1.5em;
$font-size-s: 1.2em;
$font-size-xs: 0.8em;
$font-size-x: 0.6em;
$font-weight-b: 600;
$font-weight-n: 300;
$first-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Martel', serif;
