//Colors
$black: #000000;
$white: #ffffff;
$orange: #DC8665;
$aqua: #138086;
$purple: #534666;
$pink: #CD7672;
$yellow: #EEB462;

//Fonts
$font-size: 18px;
$first-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Martel', serif;
