//Colors
$black: #000000;
$gray: #999999;
$light: #dadada;
$white: #ffffff;
$orange: #dc8665;
$aqua: #138086;
$purple: #534666;
$purple-l: #8b6bb9;
$pink: #cd7672;
$yellow: #eeb462;
$dark:#15202b;

//Fonts
$font-size: 18px;
$font-size-xxl: 5em;
$font-size-l: 2.5em;
$font-size-b: 2em;
$font-size-m: 1.5em;
$font-size-s: 1.2em;
$font-size-xs: 0.8em;
$font-size-x: 0.4em;
$font-weight-b: 600;
$font-weight-n: 300;
$first-font-family: "Montserrat", sans-serif;
$second-font-family: "Martel", serif;

$breakpoint-desktop: 600px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
